 .image {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mobile{
    margin: auto;
}


.desktop {
    display: none;
}

@media (width >=700px) {
    .desktop {
        display: block;
    }
    .mobile{
        margin: 0;
        display: none;
    }

}