.image {
    width: 100%;
     display: flex;
    /*justify-content: center; */
}

.desktop {
    display: none;
}

@media (width >=700px) {
    .desktop {
        display: block;
    }
    .mobile{
        display: none;
    }

}